@import 'base/variables';

* {
    font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}



@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/comments.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';
@import 'blocks/pageup.scss';