.promo {
    min-height: 670px;
    padding: 21px 0 93px 0;
    background: url("/src/img/bg1.png") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase
        /* line-height: 42px; */
    }  
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    } 
    
    &__icons {
        
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        width: 108px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: #ffffff;

        }
    }
    

}

@media screen and (max-width:920px) {
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .header__contacts
          .header__phone {
         
             font-size: 14px;
    }
     
    .promo {
         &__wrapper {
             display: block;
             text-align: center;
         }
         &__header {
             font-size: 34px;
         }
         &__icons {
             width: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             
            } 
        &__icon {
            margin-top: 40px;
        }    
    .advantages {
        &__wrapper {
             flex-direction: column;
        }
    }
    
    }
}       
